/* global style */

//mettre en place un style de base pour le site
// reset de la margin et padding de tout les elements

body{
  overflow-x: hidden;
}

.Home, .Work, .Data, .Fiction{
  margin: 0;
  padding: 0;
  background-color: $color-bg;
  color: $color-texte;

}

.centrer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.visible_ordi{
  display: none;

  @include responsive(tablet) {
          display: none;
  }

  @include responsive(desktop) {
          display: block;
  }
}

.visible_ordi_tab{
  display: none;

  @include responsive(tablet) {
          display: block;
  }

  @include responsive(desktop) {
          display: block;
  }
}

.Footer{
  display: flex;
  background-image: url(../assets/images/deco-footer.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  height: 10vh;

  @include responsive(tablet) {
    height: 15vh;
}

@include responsive(desktop) {
  height: 20vh;
}
}


.section__about .col-1-2{
  margin-top: 35%;

  @include responsive(tablet) {
    margin-top: 40%;
}

@include responsive(desktop) {
  margin-top: 40%;
}
}

.section__about .col-5-6{
  margin-top: 0;

  @include responsive(tablet) {
    margin-top: 0;
}

@include responsive(desktop) {
  margin-top: 40%;
}
}

header{
  overflow-x: hidden;
  overflow-y: hidden;
}

.btn_fic{
  background-color: $color-secondary;
  font-size: 19px;
  padding: 20px 20px;
  text-decoration: none;
  border-color: $color-primary;
  border-width: 3px;
  border-style: solid;

  &:hover{
    background-color: $color-primary;
    border-color: $color-secondary;
    border-width: 3px;
    border-style: solid;
  }
}

.btn_data{
  background-color: $color-quaternary;
  font-size: 19px;
  padding: 20px 20px;
  text-decoration: none;
  border-color: $color-secondary;
  border-width: 3px;
  border-style: solid;

  &:hover{
    background-color: $color-secondary;
    border-color: $color-quaternary;
    border-width: 3px;
    border-style: solid;
  }
}