/* global style */

//mettre en place un style de base pour le site
// reset de la margin et padding de tout les elements

body{
  overflow-x: hidden;
}

.Home, .Work, .Data, .Fiction{
  margin: 0;
  padding: 0;
  background-color: $color-bg;
  color: $color-texte;

}

.centrer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.visible_ordi{
  display: none;

  @include responsive(tablet) {
          display: none;
  }

  @include responsive(desktop) {
          display: block;
  }
}

.visible_ordi_tab{
  display: none;

  @include responsive(tablet) {
          display: block;
  }

  @include responsive(desktop) {
          display: block;
  }
}


header{
  overflow-x: hidden;
  overflow-y: hidden;

}

.header_data{
  margin-bottom: 48px;
}


.btn_fic{
  background-color: $color-secondary;
  font-size: 19px;
  padding: 20px 20px;
  text-decoration: none;
  border-color: $color-primary;
  border-width: 3px;
  border-style: solid;

  &:hover{
    background-color: $color-primary;
    border-color: $color-secondary;
    border-width: 3px;
    border-style: solid;
  }
}

.btn_data{
  background-color: $color-quaternary;
  font-size: 19px;
  padding: 20px 20px;
  text-decoration: none;
  border-color: $color-secondary;
  border-width: 3px;
  border-style: solid;

  &:hover{
    background-color: $color-secondary;
    border-color: $color-quaternary;
    border-width: 3px;
    border-style: solid;
  }
}

.description__projets{
  margin-bottom: 75px;

  @include responsive(tablet) {
    margin-bottom: 96px;
}

@include responsive(desktop) {
  margin-bottom: 144px;
}
}

.Projets{
        margin-bottom: 25px;

      
      @include responsive(tablet) {
        
        margin-bottom: 32px;
  }
  
    @include responsive(desktop) {
        
        margin-bottom: 48px;
  }
}

.cursor{
    background-image: url("../assets/images/cursor-fleur.svg");
    position: absolute;
    width: 80px;
    height: 80px;
    background-size: cover;
    border-radius: 50%;
    pointer-events: none;
    visibility: hidden;
    z-index: 1;
}

.cursor-img{
    cursor: none
}