/* global style */

//mettre en place un style de base pour le site
// reset de la margin et padding de tout les elements

.Body {
  margin: 0;
  padding: 0;
  background-color: $color-bg;
  color: $color-texte;

}