// grid 
//mettre en place les grids pour le site

.grid {
    box-sizing: border-box;
    width: 100%;
    display: grid;
}

/* grid Home */

.Home .grid{
        display: grid;
        grid-template-columns: 1fr ;
        padding-left: 30px;
        padding-right: 30px;
    

    @include responsive(tablet) {
            grid-template-columns: 1fr;
            padding-left: 60px;
            padding-right: 60px;
    }

    @include responsive(desktop) {
            grid-template-columns: 
            490px 15px
            370px 15px
            490px
            ;
            padding-left: 30px;
            padding-right: 30px;

.col-1-6{
        grid-column: 1 / 6;
}
        
.col-5-6{
        grid-column: 5 / 6;
}
        
.col-1-2{
        grid-column: 1 / 2;
}

.col-3-4{
        grid-column: 3 / 4;
}
    }
}

/* grid Work */

.Work .grid{
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 30px;
    padding-right: 30px;


@include responsive(tablet) {
        grid-template-columns: 1fr;
        padding-left: 60px;
        padding-right: 60px;
}

@include responsive(desktop) {
        grid-template-columns: 
        500px 155px
        280px 60px
        280px
        ;
        padding-left: 30px;
        padding-right: 135px;

.col-1-2{
        grid-column: 1 / 2;
}

.col-1-4{
        grid-column: 1 / 4;
}

.col-3-6{
        grid-column: 3 / 6;
}

.col-5-6{
        grid-column: 5 / 6;
}
}
}

/* grid data */

.Data .grid{
    display: grid;
    grid-template-columns: 1fr 30px 1fr;
    padding-left: 30px;
    padding-right: 30px;

    > *{
        grid-column: 1 / -1;
    }

@include responsive(tablet) {
        padding-left: 60px;
        padding-right: 60px;
}

@include responsive(desktop) {
        grid-template-columns: 
        200px 60px
        200px 53px
        350px 60px
        350px 47px
        60px
        ;
        padding-left: 30px;
        padding-right: 30px;

.col-1-6{
        grid-column: 1 / 6;
}

.col-3-6{
        grid-column: 3 / 6;
}

.col-1-4{
        grid-column: 1 / 4;
}

.col-5-8{
        grid-column: 5 / 8;
}

.col-5-10{
        grid-column: 5 / 10;
}

.col-7-8{
        grid-column: 7 / 8;
}

.col-7-10{
        grid-column: 7 / 10;
}

.col-5-6{
        grid-column: 5 / 6;
}
.col-2-10{
        grid-column: 2 / 10;
}
}
}

/* grid fiction */

.Fiction .grid{
        display: grid;
        grid-template-columns: 1fr 30px 1fr;
        padding-left: 30px;
        padding-right: 30px;
    
        > *{
            grid-column: 1 / -1;
        }
    
    @include responsive(tablet) {
            padding-left: 60px;
            padding-right: 60px;
    }
    
    @include responsive(desktop) {
            grid-template-columns: 
            200px 60px
            200px 53px
            350px 60px
            350px 47px
            60px
            ;
            padding-left: 30px;
            padding-right: 30px;
    
.col-1-8{
        grid-column: 1 / 8;
}

.col-1-6{
        grid-column: 1 / 6;
}

.col-7-10{
        grid-column: 7 / 10;
}
.col-5-8{
        grid-column: 5 / 8;
}

.col-5-10{
        grid-column: 5 / 10;
}

.col-5-6{
        grid-column: 5 / 6;
}
.col-1-4{
        grid-column: 1 / 4;
}
.col-7-8{
        grid-column: 7 / 8;
}

}}
