// grid 
//mettre en place les grids pour le site

.grid {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    display: grid;
}

/* grid Home */

.Home .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 30px;
        padding-right: 30px;
    

    @include responsive(tablet) {
            grid-template-columns: 1fr 1fr;
            padding-left: 60px;
            padding-right: 60px;
    }

    @include responsive(desktop) {
            grid-template-columns: 
            490px 115px
            170px 115px
            490px
            ;
            padding-left: 30px;
            padding-right: 30px;
    }
}

/* grid Work */

.Work .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 30px;
    padding-right: 30px;


@include responsive(tablet) {
        grid-template-columns: 1fr 1fr;
        padding-left: 60px;
        padding-right: 60px;
}

@include responsive(desktop) {
        grid-template-columns: 
        500px 155px
        280px 60px
        280px
        ;
        padding-left: 30px;
        padding-right: 135px;
}
}

/* grid data */

.Data .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 30px;
    padding-right: 30px;


@include responsive(tablet) {
        grid-template-columns: 1fr 1fr;
        padding-left: 60px;
        padding-right: 60px;
}

@include responsive(desktop) {
        grid-template-columns: 
        200px 60px
        200px 53px
        350px 60px
        350px 47px
        60px
        ;
        padding-left: 30px;
        padding-right: 30px;
}
}

/* grid fiction */

.Fiction .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 30px;
    padding-right: 30px;


@include responsive(tablet) {
        grid-template-columns: 1fr 1fr;
        padding-left: 60px;
        padding-right: 60px;
}

@include responsive(desktop) {
        grid-template-columns: 
        200px 60px
        200px 53px
        350px 60px
        350px 47px
        60px
        ;
        padding-left: 30px;
        padding-right: 30px;
}
}