/* navigation */

.Nav{
    width: 50vw;
    height: auto;
    display: flex;
    background-color: $color-tertiary;
    border: solid 1px $color-primary;
    overflow: hidden; //utilisation de l'ia

    &.open {
    height: auto;
  }

    @include responsive(tablet) {
        width: 100vw;
        transition: none;
        
        
}
    
    @include responsive(desktop) {
        width: 100vw;
        transition: none;

}
}

.burger{
    width: 40px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: none;
    border: none;
    margin-top: 5px;
    cursor: pointer;
    z-index: 100;


    @include responsive(tablet) {
            display: none;
    }
  
    @include responsive(desktop) {
            display: none;
    }
    
}

.bar {
  width: 100%;
  height: 3px;
  background-color: $color-primary;
  transition: all 0.4s ease; // anim des bars
  border-radius: 2px;
}

.Nav__liste {
    display: none;
    flex-direction: column;
    width: 50vw;
    padding: 15px;
    gap: 10%;
    z-index: 1000;
    opacity: 0;

     &.active {
    display: flex;
    opacity: 1;
  }
    

     @include responsive(tablet) {
        width: 100vw;
        display: flex;
        flex-direction: row;
        margin: 0;
        background-color: transparent;
        position: relative;
        justify-content: center;
        border: none;
        opacity: 1;
    }
    
}

.Nav.open .bar.top {
  transform: rotate(45deg) translate(9px, 9px); // changement de posistion des bars pour faire une crois( bar 1)
}

.Nav.open .bar.middle { 
  opacity: 0; // changement de posistion des bars pour faire une crois( bar milieu)
}

.Nav.open .bar.bottom {
  transform: rotate(-45deg) translate(5px, -5px); // changement de posistion des bars pour faire une crois( bar 3)
}

.element__Nav{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $color-texte;
   
    
    @include responsive(tablet) {
        margin-right: 4%;
    }
    
    @include responsive(desktop) {
        margin-right: 8%;
    }
}


.element__Nav a{
    display: flex;
    color: $color-primary;
    text-decoration: none;
    list-style: none;
}

.element__Nav a:hover{
    color: $color-secondary;
    
}

.footer{
    width: 100%;
    height: auto;
}

.Footer__liste{
     display: flex;
     flex-direction: column;
    gap: 30px;
    margin-top: 32px;

    @include responsive(tablet) {
       gap: 36px;
        margin-top: 46px;
}

    @include responsive(desktop) {
        gap: 36px;
        margin-top: 60px;

}
}

.img-footer{
  display: flex;
  background-image: url(../assets/images/deco-footer.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  width: 100%;
  height: 14vh;

  @include responsive(tablet) {
   height: 23vh;
}

@include responsive(desktop) {
  height: 24vh;
}
}
.element__Footer, 
.element__Info{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $color-texte;
}


.element__Footer a{
    padding-bottom: 3%;
    padding-top: 0%;
    display: flex;
    flex-direction: column;
    color: $color-texte;
    text-decoration: none;
    list-style: none;
    font-size: 10px;


    @include responsive(tablet) {
        font-size: 20px;
    }

    @include responsive(desktop) {
        font-size: 24px;
    }
}


.Info__liste{
    position: absolute;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 32px;

    @include responsive(tablet) {
        gap: 36px;
        margin-top: 46px;
        right: 30px;
}

    @include responsive(desktop) {
        gap: 36px;
        margin-top: 60px;
        right: 30px;
}
}

.element__Info {
    font-size: 10px;
    margin-left: auto;
    padding-top: 0%;
    padding-right: 0;
    padding-left: 0;
    display: flex;
    color: $color-texte;
    text-decoration: none;
    list-style: none;
    align-items: flex-end;

    @include responsive(tablet) {
        font-size: 20px;
    }

    @include responsive(desktop) {
        font-size: 24px;
    }
}


.element__Footer a :hover,
.element__Info a:hover{
    color: $color-secondary;
    
}