/* navigation */
// faire la navigation 

/* #progress-bar-container {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.5rem;
    background-color: transparent;
    z-index: 1;
}
 
#progress-bar {
    height: 100%;
    background-color: $color-primary;
    width: 0;
    transition: width 0.1s ease-out;
} */

.Nav{
    width: 50vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    background-color: $color-tertiary;
    border: solid 1px $color-primary;

    @include responsive(tablet) {
        width: 100vw;
        height: 10vh;
        display: flex;
        justify-content: center;
        background-color: $color-tertiary;
        border: solid 1px $color-primary;
}
    
    @include responsive(desktop) {
        width: 100vw;
        height: 10vh;
        display: flex;
        justify-content: center;
        background-color: $color-tertiary;
        border: solid 1px $color-primary;
}
}

.burger{
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 2%;
    left: 2%;
    z-index: 100;


    @include responsive(tablet) {
            display: none;
    }
  
    @include responsive(desktop) {
            display: none;
    }
    
}

.Nav__liste {
    display: none;
    flex-direction: row;
    background-color: $color-secondary;
    position: absolute;
    width: 50%;
    padding: 2%;
    gap: 0;
    

     @include responsive(tablet) {
        display: flex;
        flex-direction: row;
        gap: 5%;
        margin: 0;
        justify-content: center;
        gap: 10%;
        background-color: transparent;
        position: relative;
    }
    
    @include responsive(desktop) {
       gap: 25%;
    }
    
}



.element__Nav{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $color-texte;
   
    
    @include responsive(tablet) {
        margin-right: 4%;
    }
    
    @include responsive(desktop) {
        margin-right: 8%;
    }
}


.element__Nav a{
    display: flex;
    color: $color-primary;
    text-decoration: none;
    list-style: none;
}

.element__Nav a:hover{
    color: $color-secondary;
    
}
