/* navigation */
// faire la navigation 

/* #progress-bar-container {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.5rem;
    background-color: transparent;
    z-index: 1;
}
 
#progress-bar {
    height: 100%;
    background-color: $color-primary;
    width: 0;
    transition: width 0.1s ease-out;
} */

.Nav{
    width: 50vw;
    height: auto;
    display: flex;
    background-color: $color-tertiary;
    border: solid 1px $color-primary;
    
    transition: height 0.4s ease, background-color 0.3s ease;
    overflow: hidden;

    &.open {
    height: auto;
  }

    @include responsive(tablet) {
        width: 100vw;
        height: auto;
        transition: none;
        overflow: hidden;
        
}
    
    @include responsive(desktop) {
        width: 100vw;
        height: auto;
        transition: none;
        overflow: hidden;

}
}

.burger{
    width: 40px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: none;
    border: none;
    margin-top: 5px;
    cursor: pointer;
    z-index: 100;


    @include responsive(tablet) {
            display: none;
    }
  
    @include responsive(desktop) {
            display: none;
    }
    
}

.bar {
  width: 100%;
  height: 3px;
  background-color: $color-primary;
  transition: all 0.4s ease;
  border-radius: 2px;
}

.Nav__liste {
    display: none;
    flex-direction: column;
    width: 50vw;
    padding: 15px;
    gap: 10%;
    z-index: 1000;
    

    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.4s ease, transform 0.4s ease;

     &.active {
    display: flex;
    opacity: 1;
    transform: translateY(0);
  }
    

     @include responsive(tablet) {
        width: 100vw;
        display: flex;
        flex-direction: row;
        margin: 0;
        background-color: transparent;
        position: relative;
        justify-content: center;
        border: none;
        opacity: 1;
    }
    
    @include responsive(desktop) {

    }
    
}

.Nav.open .bar.top {
  transform: rotate(45deg) translate(9px, 9px);
}

.Nav.open .bar.middle {
  opacity: 0;
}

.Nav.open .bar.bottom {
  transform: rotate(-45deg) translate(5px, -5px);
}

.element__Nav{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $color-texte;
   
    
    @include responsive(tablet) {
        margin-right: 4%;
    }
    
    @include responsive(desktop) {
        margin-right: 8%;
    }
}


.element__Nav a{
    display: flex;
    color: $color-primary;
    text-decoration: none;
    list-style: none;
}

.element__Nav a:hover{
    color: $color-secondary;
    
}



.element__Footer, 
.element__Info{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $color-texte;
}


.element__Footer a{
    padding-bottom: 3%;
    padding-top: 0%;
    display: flex;
    color: $color-texte;
    text-decoration: none;
    list-style: none;
    font-size: 10px;


    @include responsive(tablet) {
        padding-bottom: 1%;
        padding-top: 0%;
        font-size: 20px;
    }

    @include responsive(desktop) {
        padding-bottom: 3%;
        padding-top: 5%;
        font-size: 24px;
    }
}


.Info__liste{
    position: absolute;
    right: 30px;
}

.element__Info a{
    font-size: 10px;
    margin-left: auto;
    padding-bottom: 6%;
    padding-top: 0%;
    padding-right: 0;
    padding-left: 0;
    display: flex;
    color: $color-texte;
    text-decoration: none;
    list-style: none;
    align-items: flex-end;

    @include responsive(tablet) {
        padding-bottom: 1%;
        padding-top: 2%;
        font-size: 20px;
    }

    @include responsive(desktop) {
        padding-bottom: 4%;
        padding-top: 6%;
        font-size: 24px;
    }
}


.element__Footer a :hover,
.element__Info a:hover{
    color: $color-secondary;
    
}