
.section__about{
    position: relative;
    z-index: 0;
    background-image: url('../assets/images/Section-Moi-tel.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;

    @include responsive(tablet) {
        background-image: url('../assets/images/Section-Moi-tel.svg');
        background-size: cover;
        background-position: top center;
        width: 100%;
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-bottom: 64px;
}
    
    @include responsive(desktop) {
        background-image: url('../assets/images/Section-Moi.svg');
        width: 100vw;
        height: auto;
        margin-bottom: 96px;
}
}

.deco__bande__orange{
    display: none;

    @include responsive(tablet) {
    display: block;
    width: 100vw;
    height: auto;
}
    
    @include responsive(desktop) {
    display: block;
    width: 100vw;
    height: auto;
}
}

.container-tel{
    display: flex;
    flex-direction: row;
}

.deco__bande__orange-tel{
    display: block;
    right: 0px;
    width: 50vw;
    position: relative;

    @include responsive(tablet) {
    display: none;
}
    
    @include responsive(desktop) {
    display: none;
}
}

.deco__bande__jaune{
    display: none;

    @include responsive(tablet) {
    display: none;

}
    
    @include responsive(desktop) {
    display: block;
    width: 100vw;
    height: auto;
}
}

.logo{
    width: 100%;
    height: auto;
}

.section__reflex__design,
.section__anim,
.section__presentation,
.section__apprit{
    margin-bottom: 75px;

    @include responsive(tablet) {
        margin-bottom:96px;
    }
        
        @include responsive(desktop) {
            margin-bottom: 144px;
    }
}


.section__credits{
    border: 3px solid $color-secondary;
    padding: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
    grid-column: 1 / -1;
}

.section__reflex__design{
    margin-bottom: 75px;
    margin-top: 25px;

    @include responsive(tablet) {
        margin-bottom:96px;
        margin-top: 32px;
    }
        
        @include responsive(desktop) {
            margin-bottom: 144px; 
            margin-top: 48px;
    }
   
}


.section-projets {
    display: flex;
    flex-direction: row;
    gap: 0px;
    height: 61vh;
    justify-content: center;

}

.design-damier{
    background-image: url('../assets/images/Damier-work.svg');
    background-size: cover;
    background-position: top center;
    height: 40%;
    width: 30vw;
    border: 2px solid $color-secondary;
    align-items: center;
    justify-content: center;
}

.Projets-container{
    display: flex;
    flex-direction: column;
    height: 75vh;
}

.bonton-fleur{
    width: 100%;
    height: auto;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 100;
    margin-right: 0;
}

.description__projets-container{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.fond-description-projets{
    background-image: url('../assets/images/Fond-desciption-orange.svg');
    background-size: cover;
    background-position: top center;
    width: 224%;
    
}

.fond-description-projets2{
    background-image: url('../assets/images/Fond-desciption-vert.svg');
    background-size: cover;
    background-position: top center;
    width: 315%;
    
    
}

.vidéo-description-tel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;

}

.Crédits{
    display: flex;
    flex-direction: row;
    gap: 800px;
    align-items: center;
    justify-content: center;
    height: 100px;
}
.Crédits img {
    margin: 0;
}

.Crédits h2 {
    margin-left: auto;
    margin-bottom: 0;
}

.about{
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    justify-content: center;
    
    @include responsive(tablet) {
        flex-direction: column;
        
    }
        
    @include responsive(desktop) {
        flex-direction: row;
        
    }
}