
.section__about{
    position: relative;
    z-index: 0;
    background-image: url('../assets/images/Section-Moi-tel.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;

    @include responsive(tablet) {
        background-image: url('../assets/images/Section-Moi-tel.svg');
        background-size: cover;
        background-position: top center;
        width: 100%;
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-bottom: 64px;
}
    
    @include responsive(desktop) {
        background-image: url('../assets/images/Section-Moi.svg');
        width: 100vw;
        height: auto;
        margin-bottom: 96px;
}
}
.header:after{
    content: "";
    display: block;
    width: 100%;
    height: 36px;
    background-image: url(../assets/images/Bande-motif-orange.svg);
    background-size: 80%;
}
.deco__bande__orange{
    display: none;

    @include responsive(tablet) {
    display: block;
    width: 100%;
    height: auto;
}
}

.container-tel{
    display: flex;
    flex-direction: row;
}

.deco__bande__orange-tel{
    display: block;
    right: 0px;
    width: 50vw;
    position: relative;

    @include responsive(tablet) {
    display: none;
}
    
    @include responsive(desktop) {
    display: none;
}
}

.deco__bande__jaune{
    display: none;

    @include responsive(tablet) {
    display: none;

}
    
    @include responsive(desktop) {
    display: block;
    width: 100%;
    height: auto;
}
}

.logo{
    width: 100%;
    height: auto;
}

.section__reflex__design,
.section__anim,
.section__presentation,
.section__apprit{
    margin-bottom: 75px;

    @include responsive(tablet) {
        margin-bottom:96px;
    }
        
        @include responsive(desktop) {
            margin-bottom: 144px;
    }
}


.section__credits{
    border: 3px solid $color-secondary;
    padding: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
    grid-column: 1 / -1;
}

.section__reflex__design{
    margin-bottom: 75px;
    margin-top: 25px;

    @include responsive(tablet) {
        margin-bottom:96px;
        margin-top: 32px;
    }
        
        @include responsive(desktop) {
            margin-bottom: 144px; 
            margin-top: 48px;
    }
   
}


.section-projets {

    display: none;
     @include responsive(tablet) {
     display: none;
    }
        
        @include responsive(desktop) {
        display: flex;
        flex-direction: row;
        gap: 0px;
        height: 100vh;  
    }
   

}

.design-damier{
    background-image: url('../assets/images/Damier-work.svg');
    background-size: cover;
    background-position: top center;
    height: 40%;
    width: 30vw;
    border: 2px solid $color-secondary;
    align-items: center;
    justify-content: center;
}

.Projets-container{
    display: flex;
    flex-direction: column;
    height: 75vh;
}

.bonton-fleur1,
.bonton-fleur2{
    background: none;
    border: none;
    cursor: pointer;
    z-index: 100;
    margin-right: 0;
    transition: transform 0.5s ease;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bonton-fleur1:hover,
.bonton-fleur2:hover {
  animation: rotation 1s linear infinite;
}

.btn_video{
    display: flex;
    justify-self: center;

}

.description__projets-container{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.fond-description-projets{
    background-image: url('../assets/images/Fond-desciption-orange.svg');
    background-size: cover;
    background-position: top center;
    width: 224%;
    
}

.fond-description-projets2{
    background-image: url('../assets/images/Fond-desciption-vert.svg');
    background-size: cover;
    background-position: top center;
    width: 315%;
    
    
}

.vidéo-description-tel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;

}

.Crédits{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
    border: 3px solid $color-secondary;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
    grid-column: 1 / -1;

    @include responsive(tablet) {
        gap: 10px;
        padding: 30px;
        
    }
        
    @include responsive(desktop) {
        gap: 800px;
        padding: 30px;
        
    }
}
.Crédits img {
    margin: 0;
     @include responsive(tablet) {
        gap: 0px;
        
    }
        
    @include responsive(desktop) {
        gap: 800px;
        
    }
}

.Crédits h2 {
    margin-left: auto;
    margin-bottom: 0;
}

.about{
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    justify-content: center;
    
    @include responsive(tablet) {
        flex-direction: column;
        
    }
        
    @include responsive(desktop) {
        flex-direction: row;
        
    }
}

.container-presentation{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 25px;

    @include responsive(tablet) {
        gap: 40px;
        margin-bottom: 32px;
        
    }
        
    @include responsive(desktop) {
         gap: 80px;
         margin-bottom: 48px;
        
    }
}

.vidéo_work3-rose{
    background-image: url('../assets/images/Fond-video-orange.svg');
    display: block;
    width: 100%;
    height: 36px;
    background-size: 100%;
}