
.image__site__complet_data{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    display: flex;
    display: none;
    border-color: $color-secondary;
    border-width: 3px;
    border-style: solid;

  @include responsive(tablet) {
          display: none;
  }

  @include responsive(desktop) {
          display: block;
  }


}

.image__site__complet_fic{
    width: 100%;
    max-height: 100%;
    display: none;
    border-color: $color-primary;
    border-width: 3px;
    border-style: solid;

  @include responsive(tablet) {
          display: none;
  }

  @include responsive(desktop) {
          display: block;
  }


}

.image__section__site_data {
    width: 100%;
    height: auto;
    display: flex;
    border-color: $color-secondary;
    border-width: 3px;
    border-style: solid;
    margin-bottom: 25px;

    @include responsive(tablet) {
        margin-bottom: 32px;
}

@include responsive(desktop) {
        margin-bottom: 48px;
}
}
.image__section__anim_data,
.image__section__apprit_data{
    width: 100%;
    height: auto;
    display: flex;
    border-color: $color-secondary;
    border-width: 3px;
    border-style: solid;
}

.image__section__anim_fic,
.image__section__apprit_fic{
    width: 100%;
    height: auto;
    display: flex;
    border-color: $color-primary;
    border-width: 3px;
    border-style: solid;
}


.image__section__presentation1_data{
    grid-column: 3 / -2 !important;
    width: 100%;
    height: auto;
    display: flex;
    border-color: $color-secondary;
    border-width: 3px;
    border-style: solid;
    margin-bottom: 25px;
    margin-top: 75px;

    @include responsive(tablet) {
        width: 100%;
        margin-bottom: 32px;
        margin-top: 96px;
}

    @include responsive(desktop) {
        width: 100%;
        grid-column: 7/ 8 !important;
        margin-bottom: 48px;
        margin-top: 144px;
}
}

.image__section__presentation2_data{
    grid-column: 1/ -3 !important;
    width: 100%;
    height: auto;
    display: flex;
    border-color: $color-secondary;
    border-width: 3px;
    border-style: solid;

    @include responsive(tablet) {
        width: 100%;
}

    @include responsive(desktop) {
        width: 100%;
        grid-column: 1/ 4 !important;
}
}


.image__section__presentation3_data{
    grid-column: 1/ -3 !important;
    width: 100%;
    height: auto;
    display: flex;
    border-color: $color-secondary;
    border-width: 3px;
    border-style: solid;
    margin-bottom: 25px;

    @include responsive(tablet) {
        width: 100%;
        margin-bottom: 32px;
}

    @include responsive(desktop) {
        width: 100%;
        grid-column: 5/ 6 !important;
        margin-bottom: 48px;
}
}

.titanic{
overflow-x: hidden; //utilisation de l'ia
height: auto;
width: 120%;
grid-column: 3 / -1!important;

    @include responsive(desktop) {
        width: 103%;
        grid-column: 3 / 10 !important;
        
}
    
}

.astronaute{
    overflow-x: hidden; //utilisation de l'ia
    height: auto;
    width: 130%;
    grid-column: 3 / -1!important;
    rotate: -30deg;
    
        @include responsive(desktop) {
            width: 103%;
            grid-column: 7 / 10 !important;
            
    }
        
    }

.image__section__site_fic{
    grid-column: 1/ -3 !important;
    width: 100%;
    height: auto;
    display: flex;
    border-color: $color-primary;
    border-width: 3px;
    border-style: solid;
    margin-bottom: 25px;


    @include responsive(tablet) {
        width: 100%;
        margin-bottom: 32px;
}

    @include responsive(desktop) {
        width: 100%;
        grid-column: 5/ 6 !important;
        margin-bottom: 48px;
}
}

.image__section__site_fic2{
    grid-column: 3/ -1 !important;
    width: 100%;
    height: auto;
    display: flex;
    border-color: $color-primary;
    border-width: 3px;
    border-style: solid;
    margin-bottom: 25px;

    @include responsive(tablet) {
        width: 100%;
        margin-bottom: 32px;
}

    @include responsive(desktop) {
        width: 100%;
        grid-column: 7/ 8 !important;
        margin-bottom: 48px;
}
}

.vidéo_work1{
    width: 69vw;
    max-width: 114vh;
}

.vidéo_work3{
    width: 100%;
}

.data_work,
.fiction_work{
    width: 100%;
    height: auto;
    display: flex;
    border-color: $color-secondary;
    border-width: 3px;
    border-style: solid;

    @include responsive(tablet) {
        width: 100%;
}

    @include responsive(desktop) {
        width: 100%;
        grid-column: 1/ 4 !important;
}}

.photo-moi{
    width: 30%;
    height: auto;
    justify-self: center;
    margin-bottom: 25px;

    @include responsive(tablet) {
        width: 30%;
        justify-self: center;
        margin-bottom: 32px;
    }
        
    @include responsive(desktop) {
        width: 100%;
        margin-top: -61px;
        margin-bottom: 85px;
    }
 }

 .image__section__apprit_fic,
 .image__section__apprit_data{
    margin-bottom: 25px;
    display: none;


    @include responsive(tablet) {
        margin-bottom: 32px;
        display: none;
}

    @include responsive(desktop) {
        margin-bottom: 48px;
        display: block;
}
}