 /* typographies */


.texte{ @include font-size-responsive(16px, 20px, 24px); }

.sous-titre{ @include font-size-responsive(19px, 29px, 41px); }

.titre{ @include font-size-responsive(23px, 41px, 60px); }

.grand-titre,
.grand-titre__special{ @include font-size-responsive(28px, 60px, 103px); }

.titre, .sous-titre, .grand-titre{
      display: flex;
      font-family: $font-secondary;
      line-height: 1.1;
      margin: 0;
      color: $color-primary;
      font-weight: 400;
}

.texte{
      font-family: $font-primary;
      line-height: 1.2;
      color: $color-texte;
      margin: 0;
}

.sous-titre__special{
   color: $color-texte;
   font-family: $font-primary;

}

.special{
   color: $color-secondary;
}
