 /* typographies */


.texte{ @include font-size-responsive(16px, 20px, 24px); }

.sous-titre,
.sous-titre-nav,
.sous-titre__special{ @include font-size-responsive(19px, 29px, 41px); }

.titre{ @include font-size-responsive(23px, 41px, 60px); }

.grand-titre,
.grand-titre__special{ @include font-size-responsive(28px, 60px, 103px); }

.titre, .sous-titre, .grand-titre,.sous-titre-nav{
      display: flex;
      font-family: $font-secondary;
      line-height: 1.1;
      margin: 0;
      color: $color-primary;
      font-weight: 400;
}

.texte{
      font-family: $font-primary;
      line-height: 1.2;
      color: $color-texte;
      margin: 0;
}

.sous-titre__special{
   color: $color-texte;
   font-family: $font-primary;
   text-align: center;

}

.special{
   color: $color-secondary;
   font-weight: 400;
}

.grand-titre{
      margin-top: 50px;
      margin-bottom: 50px;

      
    @include responsive(tablet) {
      margin-top: 64px;
      margin-bottom: 64px;
}

  @include responsive(desktop) {
      margin-top: 96px;
      margin-bottom: 96px;
}
}

.sous-titre,
.texte{
      
      margin-bottom: 25px;

      
    @include responsive(tablet) {
      
      margin-bottom: 32px;
}

  @include responsive(desktop) {
      
      margin-bottom: 48px;
}
}

.titre{
      margin-bottom: 25px;

      
      @include responsive(tablet) {
        
        margin-bottom: 32px;
  }
  
    @include responsive(desktop) {
        
        margin-bottom: 48px;
  }
  }

  .margin96{
      margin-top: 50px;

      @include responsive(tablet) {
        
            margin-top: 64px;
      }
      
        @include responsive(desktop) {
            
            margin-top: 96px;
      }
  }


