 /* typographies */

//mettre quelle police pour quel classe
//essais
 h1{
    font-family: $font-secondary;
    font-size: 60px;
    font-weight: 400;
    line-height: 1.2;
    color: $color-primary;
 }