/* fonts */
$font-primary: 'Gabriela', sans-serif;
$font-secondary: 'Vast Shadow', sans-serif;

/* couleurs */ 
$color-bg: rgba(254, 254, 242, 1);
$color-white: #fff;

$color-texte: #000;
$color-primary: rgba(246, 98, 72, 1);
$color-secondary: rgba(118, 142, 58, 1); 
$color-tertiary: rgba(255, 225, 117, 1);