/* fonts */
$font-primary: 'Montagu Slab', sans-serif;
$font-secondary: 'El Messiri', sans-serif;

/* couleurs */ 
$color-bg: rgba(254, 254, 242, 1);
$color-white: #fff;

$color-texte: #000;
$color-primary: rgba(246, 98, 72, 1);
$color-secondary: rgba(118, 142, 58, 1); 